vectorizer.pkl
text.7z
model.pkl

v3/
v2/
Unsorted/*
text/Games/*
text/Newsletters/*
text/Notifications/*
text/Receipts/*
text/Social/*
text/Spam/*
Sorted/Games/*
Sorted/Newsletters/*
Sorted/Notifications/*
Sorted/Receipts/*
Sorted/Social/*
Sorted/Spam/*
emails/Games/*
emails/Newsletters/*
emails/Notifications/*
emails/Receipts/*
emails/Social/*
emails/Spam/*
Спорное/
.idea/
models/*
!models/models.txt
